// Primary

$primary-3: #4f4a84;
$primary-2: #B8B014; // edited
$primary-1: #e9e02f; // edited
$primary-light-3: #dfd95d; // edited
$primary-light-2: #E8E48C; // edited
$primary-light-1: #f3f1c3; // edited

// Error

$error-3: #b93b37;
$error-2: #d6514a; // edited
$error-1: #f75b4f;
$error-light-3: #712323;
$error-light-2: #501616;
$error-light-1: #330d0d;

// Warning

$warning-3: #b36b00;
$warning-2: #e68a00;
$warning-1: #ffa31a;
$warning-light-3: #584410;
$warning-light-2: #3f3315;
$warning-light-1: #2b2412;

// Success

$success-3: #5E8A0F; // edited
$success-2: #7eb814; // edited
$success-1: #A7E92F; // edited
$success-light-3: #DCFBA2; //edited
$success-light-2: #e6f9c3; // edited
$success-light-1: #283626;

// Accent

$accent-3: #1c60b8;
$accent-2: #2a7bde;
$accent-1: #5694e4;
$accent-light-3: #21436c;
$accent-light-2: #233750;
$accent-light-1: #202a36;

// GS

$gs-10: #fcfbf0; // edited
$gs-9: #e0dfce; // edited
$gs-8: #a5a48c; // edited
$gs-7: #6E6D5B; // edited
$gs-6: #4f4d5a;
$gs-5: #626256; // edited
$gs-4: #4f4f45; // edited
$gs-3: #4a454f;
$gs-2: #313129; // edited
$gs-1: #22221e; // edited
$gs-0: #151515;

// Base

$base-black: #000;
$base-white: #fff;

// Gray

$gray-6: #f2f2f2; // edited